@import 'variables';

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body:has(#wpadminbar) .navigation-wrapper {
  top: 2.5rem !important;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 16.5rem);
}

footer {
  background-color: $black;

  .wp-block-group {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    max-width: $wide-size;
    margin: 0 auto;
    position: relative;

    .footer-frog {
      margin-top: -6rem;
      pointer-events: none;
      user-select: none;
    }

    .footer-logo {
      width: 14rem;
      pointer-events: none;
      user-select: none;

    }
  }
}

header {
  height: 100%;
  width: 100%;
  display: block;
  .wp-block-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $wide-size;
    margin: 0 auto;
    width: 100%;

    .wp-block-site-logo {
      margin: 0 !important;
    }

    nav {
      margin-right: 0 !important;
    }
  }
}

:where(.wp-site-blocks) > * {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}