@import 'variables';
@import 'mixins';

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body:has(#wpadminbar) .navigation-wrapper {
  top: 2.5rem !important;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 16.5rem);
}

section {
  padding-block: 0 !important;
  padding-inline: $spacing-sm !important;
  box-sizing: content-box !important;
}

footer {
  background-color: $black;

  .footer-container {
    display: flex;
    padding: $spacing-2xl $spacing-md;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    max-width: $wide-size;
    margin: 0 auto;
    position: relative;


    @include tablet {
      flex-direction: column !important;
    }

    @include mobile {
      flex-direction: column !important;
    }

    .footer-content {
      @include tablet {
        flex-direction: column !important;
      }

      @include mobile {
        flex-direction: column !important;
      }
    }

    .footer-frog {
      pointer-events: none;
      user-select: none;
      width: 8rem;
    }

    .footer-logo {
      width: 8rem;
      pointer-events: none;
      user-select: none;
    }

    .footer-socials {
      display: flex !important;
      flex-wrap: nowrap !important;
    }

    .footer-links-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $spacing-md !important;
    }
  }
}

header {
  height: 100%;
  width: 100%;
  display: block;

  .wp-block-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $wide-size;
    margin: 0 auto;
    width: 100%;

    .wp-block-site-logo {
      margin: 0 !important;
    }

    nav {
      margin-right: 0 !important;
    }
  }
}

:where(.wp-site-blocks)>* {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

:where(.wp-block-group.has-background) {
  padding: revert;
}

:root :where(.is-layout-constrained)>* {
  margin-block-start: inherit;
  margin-block-end: 0;
}


:root :where(.is-layout-constrained)>* {
  margin-block-start: inherit !important;
  margin-block-end: 0;
}

p {
  line-height: 150%;
}