@import 'variables';

.is-style-forest-green .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-light-green .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-neon-green .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-off-white-purple-btn .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-pink .wp-block-button__link:hover:not([class*="button-hover-"]) {
  background-color: #971d65;
}

.is-style-purple .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-off-white-green-btn .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-latte-latte-btn .wp-block-button__link:hover:not([class*="button-hover-"]) {
  background-color: #80b500;
}

.is-style-off-white .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-latte .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-black .wp-block-button__link:hover:not([class*="button-hover-"]),
.is-style-default .wp-block-button__link:hover:not([class*="button-hover-"]) {
  background-color: #465058;
}

.is-style-neon-green {
  .wp-block-button__link {
    background-color: $green;
  }

  .wp-block-button__link:hover:not([class*="button-hover-"]) {
    background-color: #80b500;
  }
}

.is-style-purple {
  .is-style-outline .wp-block-button__link {
    background-color: #971d65;

    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
      border-color: #4d0a31;
    }
  }

  .is-style-purple .wp-block-button__link {
    background-color: #4d0a31;

    &:hover:not([class*="button-hover-"]) {
      background-color: #971d65;
    }
  }
}

.is-style-pink {
  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #465058;
      border-color: #465058;
      color: $white;
    }
  }

  .is-style-purple .wp-block-button__link {
    background-color: $purple;

    &:hover:not([class*="button-hover-"]) {
      background-color: #971d65;
    }
  }
}

.is-style-off-white {
  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #465058;
      border-color: #465058;
      color: $white;
    }
  }

  .is-style-purple .wp-block-button__link {
    background-color: $purple;

    &:hover:not([class*="button-hover-"]) {
      background-color: #971d65;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }
}

.is-style-off-white-purple-btn {
  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #465058;
      border-color: #465058;
      color: $white;
    }
  }

  .is-style-purple .wp-block-button__link {
    background-color: $purple;

    &:hover:not([class*="button-hover-"]) {
      background-color: #971d65;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }
}

.is-style-off-white-green-btn {
  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #465058;
      border-color: #465058;
      color: $white;
    }
  }

  .is-style-purple .wp-block-button__link {
    background-color: #4d0a31;

    &:hover:not([class*="button-hover-"]) {
      background-color: #971d65;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }
}

.is-style-neon-green {
  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
      border-color: $green-darker;
      color: $white;
    }
  }
}

.is-style-light-green {
  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
      border-color: $green-darker;
      color: $white;
    }
  }
}

.is-style-latte {
  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
  }
}

.is-style-latte-latte-btn {
  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
  }
}

.is-style-forest-green {
  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    background-color: $green-darker;

    &:hover:not([class*="button-hover-"]) {
      background-color: #0d2612;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
      border-color: $green-darker;
      color: $white;
    }
  }
}

.is-style-black {
  .is-style-black .wp-block-button__link {
    background-color: #3d3d3d;

    &:hover:not([class*="button-hover-"]) {
      background-color: #32373c;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }
}

.is-style-default {
  .is-style-black .wp-block-button__link {
    background-color: #3d3d3d;

    &:hover:not([class*="button-hover-"]) {
      background-color: #32373c;
    }
  }

  .is-style-outline .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #3d3d3d;
      border-color: #3d3d3d;
      color: $white;
    }
  }

  .is-style-forest-green .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: $green-darker;
    }
  }

  .is-style-purple .wp-block-button__link {
    &:hover:not([class*="button-hover-"]) {
      background-color: #4d0a31;
    }
  }
}