$green: #98CE00; // Green
$purple: #7E1D56; // Purple
$forest-green: #19381F; // Forest Green
$green-darker: #4C6B04; // Green Darker
$off-white: #F6F5F1; // Off White
$latte: #F2E7DB; // Latte
$black: #0A0A0A; // Black
$white: #ffffff; // White
$light-green: #DFEBB5; // Light Green
$pink: #D8BFCA; // Pink

$content-size: 50rem; // Content Size
$wide-size: 75rem; // Wide Size
$heading-level-1: 4rem; // Heading Level 1
$heading-level-2: 3rem; // Heading Level 2
$heading-level-3: 2.5rem; // Heading Level 3
$heading-level-4: 2rem; // Heading Level 4
$heading-level-5: 1.75rem; // Heading Level 5
$heading-level-6: 1.375rem; // Heading Level 6
$paragraph: 1rem; // Paragraph
$caption: 0.875rem; // Caption
$button: 1.125rem; // Button
$button-large: 1.375rem; // Button Large
$button-xl: 1.75rem; // Button XL
$flavor-heading: 3.5rem; // Flavor Heading
$spacing-3xs: 0.25rem; // Spacing Size - 3XS
$spacing-2xs: 0.5rem; // Spacing Size - 2XS
$spacing-xs: 1rem; // Spacing Size - XS
$spacing-sm: 1.5rem; // Spacing Size - Small
$spacing-md: 2rem; // Spacing Size - Medium
$spacing-lg: 3rem; // Spacing Size - Large
$spacing-xl: 3.5rem; // Spacing Size - XL
$spacing-2xl: 4rem; // Spacing Size - 2XL
$spacing-3xl: 6rem; // Spacing Size - 3XL
$breakpoint-mobile: 48rem;

:root {
  --wp--preset--color--green: #{$green};
  --wp--preset--color--purple: #{$purple};
  --wp--preset--color--forest-green: #{$forest-green};
  --wp--preset--color--off-white: #{$off-white};
  --wp--preset--color--latte: #{$latte};
  --wp--preset--color--black: #{$black};
  --wp--preset--color--white: #{$white};
  --wp--preset--font-size--small: 14px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--font-size--heading-level-1: #{$heading-level-1};
  --wp--preset--font-size--heading-level-2: #{$heading-level-2};
  --wp--preset--font-size--heading-level-3: #{$heading-level-3};
  --wp--preset--font-size--heading-level-4: #{$heading-level-4};
  --wp--preset--font-size--heading-level-5: #{$heading-level-5};
  --wp--preset--font-size--heading-level-6: #{$heading-level-6};
  --wp--preset--font-size--paragraph: #{$paragraph};
  --wp--preset--font-size--caption: #{$caption};
  --wp--preset--font-size--button: #{$button};
  --wp--preset--font-size--button-large: #{$button-large};
  --wp--preset--font-size--button-xl: #{$button-xl};
  --wp--preset--font-size--flavor-heading: #{$flavor-heading};
  --wp--preset--spacing--3-xs: #{$spacing-3xs};
  --wp--preset--spacing--2-xs: #{$spacing-2xs};
  --wp--preset--spacing--xs: #{$spacing-xs};
  --wp--preset--spacing--sm: #{$spacing-sm};
  --wp--preset--spacing--md: #{$spacing-md};
  --wp--preset--spacing--lg: #{$spacing-lg};
  --wp--preset--spacing--xl: #{$spacing-xl};
  --wp--preset--spacing--2-xl: #{$spacing-2xl};
  --wp--preset--spacing--3-xl: #{$spacing-3xl};
}

@media (max-width: $breakpoint-mobile) {
  :root {
    --wp--preset--font-size--heading-level-1: #{$heading-level-2};
    --wp--preset--font-size--heading-level-2: #{$heading-level-3};
    --wp--preset--font-size--heading-level-3: #{$heading-level-4};
    --wp--preset--font-size--heading-level-4: #{$heading-level-5};
    --wp--preset--font-size--heading-level-5: #{$heading-level-6};
  }
}